@font-face {
  font-family: 'Ivy Mode';
  src: url('../fonts/LvyMode/IvyMode-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'NeueHaasDisplay'; 
  src: url('../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf') format('truetype'); 
  font-weight: 400;
}
@font-face {
  font-family: 'NeueHaasDisplay'; 
  src: url('../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf') format('truetype'); 
  font-weight: 700;
}
@font-face {
  font-family: 'NeueHaasDisplay'; 
  src: url('../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf') format('truetype'); 
  font-weight: 900;
}

@font-face {
  font-family: 'REFOLLE'; 
  src: url('../fonts/REFOLLE/REFOLLE.ttf') format('truetype');
}