:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --linkColor: #5c5555;
  --activeLinkColor: #6365ef;
  --activeLangLinkColor: #494cff;
  --loginColor: #6365ef;
  --borderColor: #818181;
  --sectionColor: #F8F8F8;
  --barDescColor: #1A1A1A;
  --inputColor: #f6f6f6;
  --fontIvy: 'Ivy Mode';
  --fontNeue: 'NeueHaasDisplay';
  --fontRefolle: 'REFOLLE';
}
